<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script src="./js/observer.js"></script>
  <script src="./js/watcher.js"></script>
  <script src="./js/compile.js"></script>
  <script src="./js/dep.js"></script>
  <script src="./js/index.js"></script>

  <div id="app">
    <input type="text" v-model="name">
    <span>{{name}}</span>
    <br>
    <input type="text" v-model="age">
    <span>{{age}}</span>
  </div>

  <script>
    var vm=new Ant({
      el:"#app",
      data:{
        name:"candy",
        age:18
      },
    })
    setTimeout(()=>{
      vm.name="hank"
      vm.age=20
    },1000)

  </script>
</body>
</html>